@media (min-width:668px) {
  html {
    font-size: 62.5%;
  }
}

h1 {
  font-size: 1.875rem;
}
h2 {
  font-size: 1.56rem;
  margin-top: 1.875rem;
  margin-bottom: 1.25rem;
}
p {
  font-size: 1.25rem;
  margin-bottom: 1.56rem;
}

@media (max-width:667px) {
  html {
    font-size: 81.25%;
  }
}
